

/*global*/
*{
    box-sizing: border-box;
   }
   
   html{
   font-size: 14px;
   font-family: "titillium web",sans-serif;
   color: #fefefe;
   }
   
   a{
   color: #5CD153;
   font-weight: bolder;
   text-decoration: none;
   }
   
   h1{
   font-size: 16px;
   font-weight: bolder;
   }
   
   body{
     background-image: url(../bilder/header-bilde.jpg);
     height: 115vh;
     background-size: cover;
     background-position: center;
   }


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #48D951;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 500px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .top{
    left: 80%;
    position: relative;
    width: 110px;
    font-size: 23px;
    display: flex;
    }